<launch>
    <param name="legged_robot_description" textfile="$(find legged_bipedv5_description)/urdf/bipedv5.urdf"/>

    <rosparam file="$(find legged_gazebo)/config/bipedv5_gazebo.yaml" command="load"/>
    <include file="$(find legged_gazebo)/launch/empty_world.launch">
        <arg name="world_name" value="$(find legged_gazebo)/worlds/empty_world.world"/>
    </include>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-z 0.9 -param legged_robot_description -urdf -model bipedv5 " output="screen"/>


</launch>

